<section class="policy"><h1 class="text">What are you here to do?</h1></section>


<section class="policy-product ">
  <div class="container text-center">
    <div class="row text-center">
    <owl-carousel-o [options]="serviceOptions" class="policy">
      <ng-template carouselSlide *ngFor="let serviceArray of serviceArray1">
        <div class="col mx-1 order-xl-1">
          <div class="policy-p-card-2">
            <div class="policy-img-3">
              <img src="{{ serviceArray.imageName }}" alt="mtn-images" />
            </div>
            <h1 class="heading">Mobile internet</h1>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide *ngFor="let serviceArray of serviceArray2">
        <div class="col mx-1 order-xl-2">
          <div class="policy-p-card-2">
            <div class="policy-img-3">
              <img src="{{ serviceArray.imageName }}" alt="mtn-images" />
            </div>
            <h1 class="heading">Home internet</h1>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide *ngFor="let serviceArray of serviceArray3">
        <div class="col mx-4 order-xl-3">
          <div class="policy-p-card-1">
            <div class="policy-img-3">
              <img src="{{ serviceArray.imageName }}" alt="mtn-images" />
            </div>
            <h1 class="start-here-1">Get a device</h1>
            <h1 class="start-btn-1">
              Start here <i class="fa fa-chevron-right"></i>
            </h1>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide *ngFor="let serviceArray of serviceArray4">
        <div class="col mx-6 order-xl-4">
          <div class="policy-p-card-2">
            <div class="policy-img-3">
              <img src="{{ serviceArray.imageName }}" alt="Designer" />
            </div>
            <h1 href="" class="heading">Add a phone-line</h1>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide *ngFor="let serviceArray of serviceArray5">
        <div class="col mx-2 order-xl-5">
          <div class="policy-p-card-2">
            <div class="policy-img-3">
              <img src="{{ serviceArray.imageName }}" alt="Designer" />
            </div>
            <h1 class="heading">Upgrade</h1>
          </div>
        </div>
      </ng-template>
     
    </owl-carousel-o>
  </div>
</div>
</section>
